@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'settings';
@import 'layout';
@import 'calendar';

html, body {
  font-family: 'Roboto', sans-serif, helvetica;
  font-size: var(--size-2);
  width: 100%;
}

.potok {
  font-family: 'Potok', 'Roboto', sans-serif, helvetica;
}

// Overwrite default Daypicker styles
